.label-style {
	-fx-background-color: #333;
	-fx-text-fill: white;
	-fx-font-size: 16px;
	-fx-padding: 5px;
	-fx-min-width: 200;
	-fx-font-weight: bold;
}

.tooltip {
	-fx-font-size: 8pt;
	-fx-background-color: #2a2a2a;
	-fx-text-fill: #ffffff;
	-fx-opacity: 0.85;
	-fx-padding: 8px;
	-fx-border-color: #ffffff;
	-fx-border-width: 1px;
	-fx-border-radius: 5px;
}
